///////////////////////////
///////INLINE BUTTON
//////////////////////////
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;    


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  
    -webkit-font-smoothing: antialiased;
    

    & span {
        margin-left: .3rem;
        transition: margin-left .2s;    
    }

    &:hover {
        color: var(--color-grey-dark-1);

        & span {
            margin-left: .8rem; 
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite; 
    }
}


///////////////////////////
///////MAIN BUTTON
//////////////////////////
.btn {
    font-size: 1.4rem;
    border: none;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    position: relative; 
    overflow: hidden;
    cursor: pointer;

    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: var(--color-white);  
    text-shadow: .2rem .4rem .3rem rgba(0,0,0,0.3);   

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  
    -webkit-font-smoothing: antialiased;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;  
        transition: all .2s; 
        // will-change: transform;     
    }

    &__visible {    
        padding: 2rem 7.5rem;  
    }

    &__invisible {       
        padding: 2rem 0;
        position: absolute;
        left: 0;
        top: -100%;         
    }  
    
    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    } 

    &:hover &__invisible {
        top: 0;
    } 
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}