.gallery {
    display: flex;

    &__item {
        position: relative;
    }

    &__photo {
        width: 100%;
        display: block;
    }

    &__caption{
        position: absolute;
        bottom: 0;
        right: -80%;
        width: 80%;  
        height: 35%;
        background-color: var(--color-grey-dark-1);
        opacity: .8; 
        border: solid var(--color-primary);
        border-width: 1px 0 0 4px;
        font-size: 1.1rem;
        font-weight: 600;   
        color: var(--color-white);

        display: flex;
        align-items: center;
        justify-content: center;

        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        visibility: hidden;
        transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);

        span {
            width: 90%;
        }
    }

    // &__caption::before {  
    //     @include on-hover-animation(--color-primary, --color-grey-dark-3, --color-grey-dark-3); 
    // }

    //  &__caption:hover::before {
    //     transform: scaleY(1);
    //     width: 100%;    
    // }   

    &__item:hover &__caption {
        transform: translateX(-100%);
        visibility: visible;
    }
}