///////////////////////////
///////HOTEL OVERVIEW
//////////////////////////
.overview {
    display: flex;  
    align-items: center;
    border-bottom: var( --line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;   

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
       }
    }

    &__stars {
        margin-right: auto; 
        display: flex;
    }

    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location{ 
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: var(--color-white);
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;
        
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;   

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
       }
    }

    &__rating-avarage {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: -5px;   
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
       }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) { 
            font-size: .5rem;   
       }
    }
}


///////////////////////////
///////HOTEL INTRO
//////////////////////////
.paragraph{

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}


///////////////////////////
///////HOTEL DETAILS LIST
//////////////////////////
.list {
    list-style: none;
    font-size: 1.3rem;
    margin: 3rem 0;
    padding: 3rem;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;  
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;  
        margin-bottom: .7rem;    
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;    
        margin-right: .7rem;

        //older browsers
        background-image: url("../img/chevron-thin-right.svg");
        background-size: cover;

        //new browsers
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-primary);
            -webkit-mask-image: url("../img/chevron-thin-right.svg");
            mask-image: url("../img/chevron-thin-right.svg");
            -webkit-mask-size: cover;
            mask-size: cover;
            background-image: none;         
        }
        
    }

}

////////////////////////////////
///////FRIENDS' RECOMMENDATIONS
///////////////////////////////
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white);
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}


