.review {
    background-color: var(--color-white);
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06);  
    padding: 3rem;
    margin-bottom: 3.5rem;  
    position: relative; 
    overflow: hidden;  
    
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;  
        margin-bottom: 3rem;       
   }

    &__text {
        margin-bottom: 2rem;    
        position: relative; 
        z-index: 1;     
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-small) {    
            height: 5.5rem;
            width: 5.5rem;
        }
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;       
        margin-bottom: .4rem;  
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-2);   
        
        @media only screen and (max-width: $bp-small) {    
           font-size: 1.1rem;
        }
    }

    &__rating {
        color: var(--color-primary);  
        font-size: 2.75rem;
        font-weight: 300; 
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        color: var(--color-grey-light-2);   
        font-family: sans-serif;
        line-height: 1; 
    }
}
