.form-wrapper{
    flex: 0 0 40%;

    display: flex;
    align-content: center;
    justify-content: center;

    position: relative;

    @media only screen and (max-width: $bp-smallest) {  
        order: 1;
        flex: 0 0 100%; 
        background-color: var(--color-grey-light-2);    
    }

}

.search {   
    display: flex;
    align-items: center;
    width:100%;

    position: relative;

    &__input {
        font-family: inherit;
        font-size: inherit; 
        color: inherit;
        background-color: var(--color-grey-light-2);    
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;   
        width: 90%;  
        transition: all .2s;
        margin-right: -3.25rem;         
      
        z-index: 101;

        &:focus {   
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);   
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            background-color: var(--color-grey-light-4);  
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none; 
        background-color: var(--color-grey-light-2); 
        z-index: 101;

        &:focus {
            outline: none;  
        }

        &:active {
            transform: translateX(2px); 
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.suggestions {
    position: absolute;
    top: -37rem;
    left: -1rem;
    width: 104%;
    z-index: 100;
    padding-top: 6.9rem;
    background-color: var(--color-white); 
    border: var(--line);  

    opacity: 0; 
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity 0s;   

    &__list {
        list-style: none; 
        border-top: var(--line);    
    }

    &__item {   
        padding: 1rem 1.5rem;
        border-bottom: var(--line);

        position: relative; 
    }  

    &__item::before {
        @include on-hover-animation(.3rem, --color-primary, --color-grey-light-1, --color-grey-light-1);
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;    
    } 

    &__link:link,
    &__link:visited {
        text-decoration: none;  
        color: var(--color-grey-dark-2);

        display: flex;
        align-items: center;

        position: relative;
        z-index: 101;
    }

    &__img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%; 
        margin-right: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: auto;
    }

    &__name {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__stars {
        margin-left: .5rem;
        line-height: 1.2rem;
    }

    &__location {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-primary);
    }

    &__rating {
        color: var(--color-primary);    
    }
}

.search__input:focus ~ .suggestions {   
    transform: translateY(35rem);   
    opacity: 1;
}