.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
    
        @supports (-o-object-fit: cover) or (object-fit: cover) {
            width: 100%;
        -o-object-fit: cover;
           object-fit: cover;  
        }
    }
}