.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @include respond(phone) {
            width: 90%;
        }
    }

    &__left {
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-land) {
            width: 100%;
            display: table-row;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-land) {
            width: 100%;
            text-align: center;
            padding: 3rem 4rem;
        }

        @include respond(phone) {
            padding: 5rem 3rem;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-land) {
            float: left;
            width: 50%;
             
            &:last-of-type {
                transform: translateY(-.9rem);  
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 4rem;
        column-gap: 4rem; //1em by defualt / 14px in this case    
        -webkit-column-rule: 1px solid $color-grey-light-2;
        column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @include respond(tab-land) {
            margin-bottom: 3rem;
            text-align: left;
        }

        @include respond(phone) {
            column-count: auto;
        }
    }


    //OPEN STATES   
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}