.story {
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 3rem 6rem rgba($color-black, .1);
        background-color: rgba($color-white, .6);
        border-radius: 3px;
        padding: 6rem;
        padding-left: 9rem;
        font-size: $default-font-size;
        transform: skewX(-12deg);

        @include respond(tab-port) {
                width: 100%;
                padding: 4rem;
                padding-left: 7rem;
        }

        @include respond(phone) {
                transform: skew(0);
        }

        &__shape {
                width: 15rem;
                height: 15rem;
                float: left;
                transform: translateX(-3rem) skewX(12deg);
                position: relative;
                overflow: hidden;
                border-radius: 50%;     

                @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
                        clip-path: circle(50% at 50% 50%);
                        shape-outside: circle(50% at 50% 50%);
                        border-radius: 0;
                }

                @include respond(phone) {
                        transform: translateX(-3rem) skew(0);
                }
        }

        &__img {
                height: 100%;
                transform: translateX(-4rem) scale(1.4);
                transition: all .5s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        }

        &__text {
               transform: skewX(12deg);

                @include respond(phone) {
                        transform: skew(0);
                }
        }

        &__caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 20%);
                color: $color-white;
                font-size: 1.7rem;
                text-align: center;
                text-transform: uppercase;
                opacity: 0;
                transition: all .5s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        }

        &:hover &__caption {
                opacity: 1;
                transform: translate(-50%, -50%);
        }

        &:hover &__img {
                transform: translateX(-4rem) scale(1.0);
                filter: blur(3px) brightness(80%);
        }
}