:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);
  --line: 1px solid var(--color-grey-light-2); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.u-center {
  text-align: center; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased; }
  .btn-inline span {
    margin-left: .3rem;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: .8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn {
  font-size: 1.4rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-white);
  text-shadow: 0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.gallery {
  display: flex; }
  .gallery__item {
    position: relative; }
  .gallery__photo {
    width: 100%;
    display: block; }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    right: -80%;
    width: 80%;
    height: 35%;
    background-color: var(--color-grey-dark-1);
    opacity: .8;
    border: solid var(--color-primary);
    border-width: 1px 0 0 4px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    visibility: hidden;
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .gallery__caption span {
      width: 90%; }
  .gallery__item:hover .gallery__caption {
    transform: translateX(-100%);
    visibility: visible; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5rem) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5rem) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-avarage {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: -5px; }
    @media only screen and (max-width: 37.5rem) {
      .overview__rating-avarage {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5rem) {
      .overview__rating-count {
        font-size: .5rem; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  font-size: 1.3rem;
  margin: 3rem 0;
  padding: 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-image: url("../img/chevron-thin-right.svg");
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url("../img/chevron-thin-right.svg");
        mask-image: url("../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .review__photo {
        height: 5.5rem;
        width: 5.5rem; } }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-2); }
    @media only screen and (max-width: 37.5rem) {
      .review__user-date {
        font-size: 1.1rem; } }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.75rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    line-height: 1; }

.form-wrapper {
  flex: 0 0 40%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .form-wrapper {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }

.search {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
    z-index: 101; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      background-color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    z-index: 101; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateX(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.suggestions {
  position: absolute;
  top: -37rem;
  left: -1rem;
  width: 104%;
  z-index: 100;
  padding-top: 6.9rem;
  background-color: var(--color-white);
  border: var(--line);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0s; }
  .suggestions__list {
    list-style: none;
    border-top: var(--line); }
  .suggestions__item {
    padding: 1rem 1.5rem;
    border-bottom: var(--line);
    position: relative; }
  .suggestions__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5px;
    height: 100%;
    width: 4px;
    background: linear-gradient(to right, var(--color-primary) 0.3rem, var(--color-grey-light-1) 0.3rem, var(--color-grey-light-1) 100%);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .suggestions__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .suggestions__link:link, .suggestions__link:visited {
    text-decoration: none;
    color: var(--color-grey-dark-2);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 101; }
  .suggestions__img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .suggestions__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: auto; }
  .suggestions__name {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .suggestions__stars {
    margin-left: .5rem;
    line-height: 1.2rem; }
  .suggestions__location {
    font-size: 1rem;
    display: flex;
    align-items: center; }
  .suggestions__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary); }
  .suggestions__rating {
    color: var(--color-primary); }

.search__input:focus ~ .suggestions {
  transform: translateY(35rem);
  opacity: 1; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  position: relative; }
  .user-nav__icon-box {
    position: relative;
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__icon-box:hover, .user-nav__user:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 2rem;
    cursor: pointer; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__settings-icon {
    width: 1.85rem;
    height: 1.85rem;
    fill: var(--color-grey-dark-2);
    margin-left: 1rem; }
  .user-nav__user:hover > .user-settings {
    transform: translateX(-32rem); }
  .user-nav__user:hover > .user-nav__settings-icon {
    fill: var(--color-primary); }

.user-settings {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 100%;
  right: -32rem;
  width: 100%;
  background-color: var(--color-white);
  border: var(--line);
  z-index: 100;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
  .user-settings__list {
    list-style: none; }
  .user-settings__item {
    position: relative; }
  .user-settings__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5px;
    height: 100%;
    width: 4px;
    background: linear-gradient(to right, var(--color-primary) 1%, var(--color-grey-light-2) 1%, var(--color-grey-light-2) 100%);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .user-settings__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .user-settings__link:link, .user-settings__link:visited {
    text-decoration: none;
    color: var(--color-grey-dark-3);
    padding: 1rem 3rem;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center; }
  .user-settings__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.recent-messages {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 100%;
  left: 26rem;
  width: 32rem;
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  z-index: 100; }
  .recent-messages__list {
    list-style: none;
    border: 1px solid var(--color-grey-light-3);
    max-height: 25.14rem;
    overflow: auto; }
  .recent-messages__item {
    cursor: pointer;
    position: relative; }
    .recent-messages__item:not(:last-child) {
      border-bottom: var(--line); }
  .recent-messages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5px;
    height: 100%;
    width: 4px;
    background: linear-gradient(to right, var(--color-primary) 1.5%, var(--color-grey-light-1) 1.5%, var(--color-grey-light-1) 100%);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .recent-messages__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .recent-messages__item--new {
    background-color: var(--color-grey-light-2); }
  .recent-messages .message-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 10; }
    .recent-messages .message-container__img {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1.5rem; }
    .recent-messages .message-container__message-preview {
      margin-right: auto; }
    .recent-messages .message-container__message {
      font-size: 1.2rem;
      font-weight: 600; }
    .recent-messages .message-container__time {
      font-size: 1rem; }
    .recent-messages .message-container__marker {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--color-grey-light-2); }
      .recent-messages .message-container__marker--new {
        background-color: var(--color-primary); }

.chat:hover > .recent-messages {
  transform: translateX(-32rem); }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5px;
    height: 100%;
    width: 4px;
    background: linear-gradient(to right, var(--color-primary) 0, var(--color-primary) 0, var(--color-primary) 100%);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5rem) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5rem) {
      .side-nav__icon {
        margin: 0 0 .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.hotel-view {
  background-color: var(--color-white);
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.3rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5rem) {
    .detail {
      flex-direction: column;
      margin-right: 0; } }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5rem) {
    .description {
      margin: 0 0 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 37.5rem) {
    .user-reviews {
      align-items: stretch; } }
  @media only screen and (max-width: 37.5rem) {
    .user-reviews > .btn-inline {
      align-self: center; } }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.see-all {
  padding: 1rem;
  font-size: 1.3rem;
  background-color: var(--color-primary); }
  .see-all .btn-inline {
    color: var(--color-white); }
