.header {
    font-size: 1.4rem;  
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var( --line);

    display: flex;  
    justify-content: space-between; 
    align-items: center;    

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;   
        align-content: space-around;    
        height: 11rem; 
   }
}

///////////////////////////
///////LOGO
//////////////////////////
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}  

///////////////////////////
///////USER NAVIGATION
//////////////////////////
.user-nav {    
    align-self: stretch;

    display: flex;
    align-items: center;

    position: relative;    

    &__icon-box {   
        position: relative;
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;   
    }

    &__icon-box:hover,
    &__user:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }   

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 0 2rem;

        cursor: pointer;
    }
    
    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__settings-icon {
        width: 1.85rem;
        height: 1.85rem;
        fill: var(--color-grey-dark-2); 
        margin-left: 1rem;  
    }   
  
    //FUNCTIONALITY FOR USER SETTINGS NAVIGATION

    &__user:hover > .user-settings {
        transform: translateX(-32rem);
    }

    &__user:hover > &__settings-icon {
        fill: var(--color-primary);
    }

}   

////////////////////////////////
///////USER SETTINGS NAVIGATION
////////////////////////////////
.user-settings {         
  
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);                

    position: absolute; 
    top: 100%;  
    right: -32rem;   
    width: 100%;
    background-color: var(--color-white);   
    border: var(--line);        
    
    z-index: 100;    

    box-shadow: 0 2rem 5rem rgba(0,0,0, .06); 

    &__list {
        list-style: none;
    }

    &__item {
        position: relative;    
    }

    &__item::before {
        @include on-hover-animation(1%, --color-primary, --color-grey-light-2, --color-grey-light-2);     
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;    
    } 

    &__link:link,
    &__link:visited {  
        text-decoration: none;  
        color: var(--color-grey-dark-3);        
        padding: 1rem 3rem;
        z-index: 10;
        position: relative;

        display: flex;
        align-items: center;        
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;   
        margin-right: 2rem;
        fill: currentColor;  
    }
}

////////////////////////////////
///////CHAT DROPDOWN
////////////////////////////////
.recent-messages {        
  
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);  

    position: absolute;     
    top: 100%;
    left: 26rem;
    width: 32rem;
    background-color: var(--color-white); 
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06); 
    z-index: 100;   
    
    &__list {
        list-style: none;   
        border: 1px solid var(--color-grey-light-3);   
        max-height: 25.14rem;
        overflow: auto;
    }

    &__item {  
        cursor: pointer;   
        position: relative;   

        &:not(:last-child) {
            border-bottom: var(--line);  
        }
    }       

    &__item::before {
        @include on-hover-animation(1.5%, --color-primary, --color-grey-light-1, --color-grey-light-1);
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;    
    } 

    &__item--new {  
        background-color: var(--color-grey-light-2);      
    }

    .message-container {
        display: flex;  
        align-items: center;
        padding: 1rem 1.5rem;   

        position: relative;
        z-index: 10;

        &__img {
            width: 3.75rem;
            height: 3.75rem;     
            border-radius: 50%;     
            margin-right: 1.5rem;
        }

        &__message-preview{
            margin-right: auto; 
        }

        &__message {
            font-size: 1.2rem;
            font-weight: 600; 
        }

        &__time{
            font-size: 1rem;     
        }

        &__marker {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: var(--color-grey-light-2);     

            &--new {
                background-color: var(--color-primary);        
            }
        }

    }

}

 //FUNCTIONALITY FOR CHAT DROPDOWN

.chat:hover > .recent-messages {     
   transform: translateX(-32rem);
}







