///////////////////////////
///////SIDEBAR  
//////////////////////////
.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

///////////////////////////
///////SIDEBAR NAVIGATION 
//////////////////////////
.side-nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    list-style: none;

    @media only screen and (max-width: $bp-medium) {
        display: flex;    
        margin: 0;  
   }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0;   
           }
        }   

        @media only screen and (max-width: $bp-medium) {
            flex: 1;                  
       }
        
    }

    &__item::before {
        @include on-hover-animation(0, --color-primary, --color-primary, --color-primary); 
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;    
    } 

    &__item:active::before {
        background-color: var(--color-primary-light);   
    }

    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
}

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-grey-light-1);
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;   
        
        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;   
       }

       @media only screen and (max-width: $bp-small) {
            flex-direction: column;  
            padding: 1.5rem;       
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; 
        
        @media only screen and (max-width: $bp-small) {
            margin: 0 0 .7rem;   
            width: 1.5rem;  
            height: 1.5rem; 
        }
    }
}

///////////////////////////
///////LEGAL TEXT
//////////////////////////
.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 2.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
   }
}

