.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-largest) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;    
    }

}

.btn-nav{
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        content: "";
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        display: block; 
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }

    @media only screen and (max-width: $bp-largest) {
        margin: 0 3rem 0 0; 
        
        &::before { transform: translateY(-1.2rem); }
        &::after { transform: translateY(1rem); }
    }
}

.nav-btn-wrapper {
    cursor: pointer;
    height: 8rem;

    translate: all .2s;

    &:hover .btn-nav::before { transform: translateY(-1.7rem); }
    &:hover .btn-nav::after { transform: translateY(1.5rem); }

    @media only screen and (max-width: $bp-largest) {
        height: auto; 

        &::before { transform: translateY(-1.5rem); }
        &::after { transform: translateY(1.3rem); }
    }
}