* {
    margin: 0;  
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
   }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover; 
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/////////////////////////////
///////MAIN WRAPPER
////////////////////////////
.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    overflow: hidden;

   @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;   
   }
}

/////////////////////////////
///////CONTENT WRAPPER
////////////////////////////
.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
   }
}
