.navigation {

    &__checkbox {
        display: none;
    }

    &__button { 
        background-color: $color-white;
        height: 6rem;   
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            right: 3rem; 
        }
    }

    &__background {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);   
        z-index: 1000;        
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);    
        
        // transform: scale(100);

        @include respond(tab-port) {
            top: 3.5rem;
            right: 3.5rem; 
        }

    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include absCenter;
        list-style: none;
        // width: 100%;
        // text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        visibility: hidden;

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg,
                            transparent 0%,
                            transparent 50%,
                            $color-white 50%);
            background-size: 250%;

            transition: all .4s;   
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        
    }

    //FUNCTIONALITY

    &__checkbox:checked ~ &__background {
        transform: scale(100);  
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;          
    }

    &__checkbox:checked ~ &__nav &__link {
        visibility: visible;         
    }

    //ICON

    &__icon {
        position: relative;
        margin-top: 3rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0; 
        transform: rotate(-135deg);
    }
}