/////////////////////////////
///////BACKGROUND ANIMATION
////////////////////////////
@mixin on-hover-animation($gradient-break, $color1, $color2, $color3) {
    
    content: "";    
    position: absolute;     
    top: 0;
    left: -1.5px;
    height: 100%;
    width: 4px;
// background-color: var(--color-primary);
    background: linear-gradient(to right,  
    var($color1) $gradient-break,
    var($color2) $gradient-break,
    var($color3) 100%);    
    transform: scaleY(0);   

    transition: transform .2s,
                width .4s cubic-bezier(1, 0, 0, 1) .2s,
                background-color .1s;   
}
