:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;
    --color-black: #000;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0, .06); 

    --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em;       //1200px / 16
$bp-large: 68.75em;      //1100px / 16
$bp-medium: 56.25em;     //900px / 16
$bp-small: 37.5rem;      //600px / 16
$bp-smallest: 31.25em;   //500px / 16