@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --color-absolute-white: #fff;
  --color-white: #e4d6d6;
  --color-black: #333;
  --color-brown: #59373a;
  --color-gradient-dark: #3a3f58;
  --color-gradient-light: #ee6a59;
  --color-accent: #a3535c;
  --color-beige-full: #eac8c0;
  --color-beige-op: #b1979a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: var(--color-black);
  background-image: linear-gradient(
    to top left,
    var(--color-gradient-dark) 0%,
    var(--color-gradient-light) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ::placeholder {
  color: var(--color-brown);
  font-size: 4rem;
} */

/* 
Generics
 */
.hidden {
  display: none !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* LAYOUT */
.title {
  font-size: 6rem;
  font-weight: 300;
  color: var(--color-white);
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
}

main {
  position: relative;
  width: 100rem;
  height: 70rem;
  background-color: rgb(255 229 219 / 50%);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 21rem 9rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  width: 75%;
  font-size: 4rem;
  color: var(--color-brown);
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  background: transparent;
  border: none;
  outline: none;
}

.name::selection {
  background: var(--color-accent);
  color: var(--color-white);
}

.name::placeholder {
  color: var(--color-brown);
  font-size: 4rem;
}

.name-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.edit {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: var(--color-brown);
  margin-bottom: auto;
}

.player--active {
  background-color: var(--color-beige-full);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.player--winner {
  background-color: var(--color-beige-op);
}

.player--winner .name {
  font-weight: 700;
  /* color: #c7365f; */
}

.current {
  background-color: var(--color-accent);
  opacity: 0.8;
  border-radius: 9px;
  color: var(--color-white);
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--color-white);
  letter-spacing: 1px;
  word-spacing: 2px;
}

.current-score {
  font-size: 3.5rem;
}

/* 
 Play table styles
*/

.play-table {
  position: absolute;
  top: 3rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dice {
  height: 9rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

/* .target {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
} */

.target-score {
  width: 100%;
  border: none;
  outline: none;
  padding: 2rem 1.5rem;
  text-align: center;
  background: rgb(166 96 105);
  border-radius: 9px;
  color: var(--color-white);
  font-size: 5rem;
  font-family: inherit;
}
.target-score::placeholder {
  color: var(--color-white);
}

.play-until {
  display: block;
  font-size: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color-brown);
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* ************************ *
    Count animation styles 
* ************************* */
.countdown {
  text-align: center;
  transition: all 0.4s;
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
  color: var(--color-brown);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.countdown-label {
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.btn {
  color: var(--color-brown);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  font-family: inherit;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 400;

  border: none;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--roll,
.btn--hold {
  margin-bottom: 1.5rem;
}

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: var(--color-absolute-white);
}

.wait {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  margin-right: 0.5rem;
  margin-top: -0.1rem;
  color: var(--color-brown);
}

/* ************** *
    Modal styles 
* *************** */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;

  background-color: var(--color-white);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal-title {
  color: var(--color-accent);
  font-size: 2.5rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.modal-content {
  font-size: 2rem;
}
.modal p {
  line-height: 1.4;
  color: var(--color-brown);
}

.modal p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.show-modal {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 1.5rem;
  color: var(--color-beige-full);
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.show-modal:hover {
  word-spacing: 6px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: var(--color-accent);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top left,
    rgb(58 63 88 / 80%) 0%,
    rgb(238 106 89 / 80%) 100%
  );
  backdrop-filter: blur(3px);
  z-index: 5;
}
