.season-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.season-display.summer {
  color: orange;
  background-color: beige;
}

.season-display.winter {
  color: lightslategray;
  background-color: aliceblue;
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
