/////////////////////////////
///////HOTEL DETAILS WRAPPER
////////////////////////////
.hotel-view {
    background-color: var(--color-white);

   flex: 1; 
}

///////////////////////////////////////////
///////HOTEL DESCRIPTION + REVIEWS WRAPPER
//////////////////////////////////////////
.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var( --line);

    font-size: 1.3rem; 

    @media only screen and (max-width: $bp-medium) {
       padding: 3rem;  
   }

   @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        margin-right: 0;      
    }
}

///////////////////////////
///////HOTEL DESCRIPTION
//////////////////////////
.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: var(--color-white);
    box-shadow: 0 2rem 5rem rgba(0,0,0, .06);  
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;  
   }

   @media only screen and (max-width: $bp-small) {
        margin: 0 0 3rem;       
    }
}

///////////////////////////
///////REVIEWS
//////////////////////////
.user-reviews {
    flex: 1;       

    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
        align-items: stretch;      
    }

    @media only screen and (max-width: $bp-small) {
        & > .btn-inline {
            align-self: center;
        }   
    }
}
///////////////////////////
///////CALL TO ACTION
//////////////////////////
.cta {
    padding: 3.5rem 0;
    text-align: center; 

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;  
   }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom:  2.5rem;          
    }
}

///////////////////////////
///////SEE MORE
//////////////////////////
.see-all {      
    padding: 1rem;      
    font-size: 1.3rem;    
    background-color: var(--color-primary);   

    .btn-inline {
        color: var(--color-white);      
    }
}

